@custom-media --small-viewport screen and (min-width: 30em);
@custom-media --large-viewport screen and (min-width: 50em);

:root {
    /* COLORS */
    --black: #070707;
    --white: #ffffff;
    --unbleached-silk: #fcded0;
    --seashell: #FEF2ED;
    --gunmetal: #293241;
    --paradise-pink: #EA526F;

    /* SETTINGS */
    --accent: var(--paradise-pink);
    --background-color: var(--unbleached-silk);
    --text-color: var(--gunmetal);
    --background-image: url("/assets/img/bg.png");
    --width-limit: 50rem;
    --border: 3px solid var(--seashell);
    --heading-text-shadow: 3px 2px var(--accent);
    --link-text-shadow: 0px 1px var(--accent);

    /* GLOBAL SETTINGS */
    font-size: 20px;
    color: var(--text-color);
    text-transform: lowercase;
    font-family: 'PxPlus IBM VGA8', 'VT323', 'Courier New', Courier, monospace;
}

@media (--small-viewport) {
    :root {
        font-size: 20px;
        --heading-text-shadow: 1px 1px var(--accent);
    }
}

@media (--large-viewport) {
    :root {
        font-size: 20px;
    }
}

* {
    text-transform: lowercase;
}

h1, h2, h3, h4 {
    text-shadow: var(--heading-text-shadow);
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.12rem;
}

h4, .h4 {
    font-size: 1rem;
}

p, ul, dl, ul.list li {
    font-size: 1rem;
}

@media (--small-viewport) {
    p, ul, dl, ul.list li {
        font-size: 1rem;
    }
}

a, a:hover, a:active, a:visited {
    color: var(--gunmetal);
    text-shadow: var(--link-text-shadow);
}

.normal-case {
    text-transform: none;
}

.subheading {
    font-size: 0.75em;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.limit-width {
    max-width: revert;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

@media (--small-viewport) {
    .limit-width {
        max-width: var(--width-limit);
        margin-inline-start: auto;
        margin-inline-end: auto;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }
}

ul.list {
    list-style: outside;
    margin-block-start: 0.33rem;
    margin-block-end: 0.33rem;
    padding-inline-start: 2ch;
}

ul.friends-list {
    margin-block-start: 0.33rem;
    margin-block-end: 0.33rem;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    background-image: var(--background-image);
}

header#header {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
            "avatar"
            "title";

    gap: 1rem;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    margin-block-start: 1rem;
    margin-block-end: 1rem;

    & .avatar-box {
        grid-area: avatar;
        width: 100%;
        height: fit-content;
        justify-self: center;
        min-width: 200px;
        min-height: 200px;

        & img {
            width: 100%;
            height: auto;
        }
    }

    & .title-box {
        grid-area: title;
    }
}

@media (--large-viewport) {
    header#header {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "avatar title";
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--unbleached-silk);
    padding: 0.33rem;
    border: var(--border);
}

main > .box + .box {
    margin-block-start: 1rem;
}

.flex-left {
    align-items: flex-start;
}

.avatar-box {
    max-width: 300px;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0.5rem;

    & img.avatar-image {
        display: block;
    }
}

.title-box {
    padding: 0.33rem;
    align-items: center;
    justify-content: center;

    & h1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

footer#footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "badges"
            "copyright"
            "license";
    gap: 0.5rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: 0.7rem;

    & .copyright {
        grid-area: copyright;
    }

    & .license {
        grid-area: license;
    }

    & .badges {
        grid-area: badges;
    }
}

@media (--small-viewport) {
    footer#footer {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "badges     badges"
            "copyright license";
    }
}

.license, .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & > a {
        display: flex;
    }
}

@media (--small-viewport) {
    flex-direction: column;

    & > a {
        margin-block-start: 0;
    }
}

.badge-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, auto));
    gap: 0.2rem;
    width: 100%;
    justify-content: center;
}

.about-myself {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    gap: 0.5rem;

    & dl {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-width: 350px;

        & > dt {
            text-shadow: var(--link-text-shadow);
        }
    }

    & .friends-list {
        width: 100%;
        max-width: 350px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

@media (--large-viewport) {
    .about-myself {
        grid-template-columns: minmax(auto, 300px) 1fr;
    }
}

#quote-machine {
    align-items: center;
}

#who-am-i-grid {
    & :is(h2, h3, h4) {
        margin-block-start: 0.3rem;
        margin-block-end: 0.3rem;
    }
}
