@font-face {
    font-family: 'PxPlus IBM VGA8';
    src: url('/assets/fonts/vga8/PxPlus_IBM_VGA8.woff2') format('woff2'),
        url('/assets/fonts/vga8/PxPlus_IBM_VGA8.woff') format('woff'),
        url('/assets/fonts/vga8/PxPlus_IBM_VGA8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

