---
import Box from "../components/box.astro";
import MainLayout from "../layouts/main.astro";

const imagePrefix = "/assets/img/gray/";
const imageSuffix = ".png";
const imageIndices = Array.from({ length: 13 }, (_, i) =>
    `${i + 1}`.padStart(3, "0")
);
const images = imageIndices.map((img) => imagePrefix + img + imageSuffix);
---

<style lang="scss">
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem;
        img {
            // padding: 0.25rem;
            max-height: 500px;
            max-width: 100%;
            object-fit: contain;
            margin: 0 auto;
        }
    }

    .heading {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
</style>

<MainLayout>
    <Box>
        <h3 class="heading">The Grayfruit Discord Hall of Fame</h3>
    </Box>
    <Box>
        <div class="grid">
            {images.map((src) => <img src={src} />)}
        </div>
    </Box>
</MainLayout>
