---
import MainLayout from "../layouts/main.astro";
import Box from "../components/box.astro";
---

<MainLayout>
    <div class="about-myself">
        <Box class="flex-left" id="who-am-i-grid">
            <h2 class="text-center full-width h4">Myself</h2>
            <dl>
                <dt>Name</dt>
                <dd>Zed</dd>
                <dt>Pronouns</dt>
                <dd>he/they</dd>
                <dt>GitHub</dt>
                <dd>
                    <a rel="me" href="https://github.com/zbigniewzolnierowicz/">
                        link
                    </a>
                </dd>
                <dt>GitLab</dt>
                <dd>
                    <a rel="me" href="https://gitlab.com/zzed">link</a>
                </dd>
                <dt>Discord</dt>
                <dd class="normal-case">Zed#0990</dd>
                <dt>Twitter</dt>
                <dd>
                    <a rel="me" href="https://twitter.com/zed_not_dead">link</a>
                </dd>
                <dt>Mastodon (uwu.social)</dt>
                <dd>
                    <a rel="me" href="https://uwu.social/@zed">link</a>
                </dd>
                <dt>Tumblr</dt>
                <dd>
                    <a rel="me" href="https://0xb00b5.tumblr.com/">link</a>
                </dd>
                <dt>Grayfruit HoF</dt>
                <dd><a rel="me" href="/grayfruit">link</a></dd>
            </dl>
            <h2 class="text-center full-width h4">cool folks</h2>
            <ul class="friends-list">
                <li>
                    <a href="https://selfisekai.rocks">selfisekai</a>
                </li>
                <li><a href="https://sdomi.pl">sdomi</a></li>
                <li><a href="https://pjo.carrd.co">pjo</a></li>
                <li><a href="https://eda.gay">eden</a></li>
            </ul>
        </Box>
        <Box class="flex-left">
            <p class="normal-case">
                My name is Zbigniew, though most people online know me as Zed,
                due to the sheer unpronounceability of my real name. I'm a
                non-binary web developer, slightly dabbling in multiple
                languages, mostly the following:
            </p>
            <ul class="list">
                <li>JavaScript</li>
                <li>Rust</li>
                <li>C#</li>
                <li>Java</li>
            </ul>
            <p class="normal-case">
                I also like sysadminning, having set up a server cluster at
                home.
            </p>
        </Box>
    </div>
    <Box class="flex-left">
        <h2 class="text-center full-width">Projects I'm proud of</h2>
        <ul class="list">
            <li>
                <a href="https://github.com/zbigniewzolnierowicz/cluster"
                    >cluster</a
                > - Kubernetes and Helm manifests for my personal cluster
            </li>
            <li>
                <a href="https://gitlab.com/zzed/Kable-Backend">kable</a> - a Rust
                server for an unspecified purpose
            </li>
            <li>
                <a href="https://mrdecal.zolnierowi.cz">Mr. Decal</a> - a website
                for my father's decal business
            </li>
        </ul>
    </Box>
</MainLayout>
