---
import Box from './box.astro';
interface Props {
    me: string
    description: string
}
const { me, description } = Astro.props;
---

<style>
    a {
        text-decoration: none;
    }
</style>

<header id="header" class="limit-width">
    <Box element="a" href="/" class="avatar-box">
        <img
            src="/avatar.jpg"
            width="209px"
            height="209px"
            alt="Avatar"
            class="avatar-image"
        />
    </Box>
    <Box element="a" href="/" class="title-box">
        <h1>
            {me}
            <span class="subheading">{description}</span>
        </h1>
    </Box>
</header>
